{% extends 'base.html' %}

{% block  body %}
    <style>
        .gradient-custom{
            background-color:  rgba(105, 90, 20, 0.158);
        }
        .errMsg{
            color: red;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <section class="vh-150 gradient-custom">
        <div class="container h-100">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card-body p-4 p-md-5">
                        <h2  class="mb-4 pb-2 pb-md-0 mb-md-5" style="text-align: center ;">LOGIN</h2>
                            {% for message in messages %}

                            <div class=errMsg align="center">{{message}}</div>
                            {% endfor %}

                            <form method="POST">            
                                {% csrf_token %}
                                <div class="row d-flex justify-content-center">
                                
                                    <input  type="text" class="form-control" name="username" value="" required autocomplete="email" autofocus placeholder="Enter username or email">

                                    <input id="password" type="password" class="form-control" name="password" value="" required autocomplete="current-password" placeholder="Enter Password">

                                    <a href="{% url 'resetpasswordview' %}" align="right">RESET PASSWORD</a>

                                    <button type="submit" class="btn btn-primary btn-block" align="center">LOGIN</button>
                                </div>
                            
                            </form>
                 </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}