{% extends "base.html" %}
{% load static %}


{% block body %}
    <style>
        .gradient-custom{
            background-color:  rgba(105, 90, 20, 0.158);
        }
        .errMsg{
            color: red;
            margin-bottom: 20px;
        }
    </style>
<script src="{%static 'register.js'%}"></script>
<body>
    <section  class="vh-150 gradient-custom">
        <div class="container h-100">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                {% for message in messages %}
                {{message}}
                {% endfor %}
                <div class="card-body p-4 p-md-5">
    <h2 class="mb-4 pb-2 pb-md-0 mb-md-5" style="text-align: center ;">Registration</h2>
    <form  id="Registerform" name="Registerform" onsubmit="return validate()" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-9 mb-4">
                <label>First Name:</label>
                <input type="text" name="first_name" placeholder="First Name" size="100%" />
                <div id="fnamenote" class="errMsg"></div>
            </div>

            <div class="col-md-9 mb-4">
                <label>Last Name:</label>
                <input type="text" name="last_name" placeholder="Last Name" size="100%" />
                <div id="lnamenote" class="errMsg"></div>
            </div> 

            <div class="col-md-9 mb-4">
                <label>User Name:</label>
                <input type="text" name="username" placeholder="User Name" size="100%" />
                <div id="unote" class="errMsg"></div>
            </div>


            <div class="col-md-9 mb-4">
                <label>Date of birth:</label>
                <input type="date" name="date_of_birth" placeholder="YYYY/MM/DD" id="" size="100%"/>
                <div id="dobnote" class="errMsg"></div>
            </div>

            <div class="col-md-9 mb-4">
                <label>Gender:</label><br>
                <input type="radio" value="M" name="gender"/>Male
                <input type="radio" value="F" name="gender"/>Female
                <input type="radio" value="O" name="gender"/>Other
            </div>


            <div class="col-md-9 mb-4">
                <label>Email:</label>
                <input type="text" name="email" placeholder="Enter Email" size="100%" />
                <div id="enote" class="errMsg"></div>
            </div>
            
            <div class="col-md-9 mb-4">
                <label>Phone No:</label>
                <input type="text" name="phone" placeholder="Enter Phone" size="100%" />
                <div id="phonenote" class="errMsg"></div>
            </div>

            <div class="col-md-9 mb-4">
                <label>Password:</label>
                <input type="password" name="password" placeholder="Enter Password" size="100%" />
                <div id="pwdnote" class="errMsg"></div>
            </div>

             <div class="col-md-9 mb-4">
                <label>Confirm Password:</label>
                <input type="password" name="confirm_phone" placeholder="Re-enter Password" size="100%"  />
                <div id="cpwdnote" class="errMsg"></div>
            </div>
        </div> 
            <div class="mt-4 pt-4">
                <!-- <input type="submit"/> -->
                <button class="btn btn-primary btn-lg" type="sumbit"  >Register</button>
            </div>
    
    </form>
        </div>
        </div>
        </div>
    </section>
{% endblock %}
